/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* PC */
.div_content_photo {
  display: grid;
  grid-template-columns: 75% 25% repeat(2,1fr);
  /* grid-template-columns: repeat(1,2fr); */
}

.part_img {
  text-align: center;
  margin-right: 1%;
}

.part_img #image_civil, .part_img #image_civil2, .part_img #image_ems, .part_img #image_ems2 {
  max-width: 60%;
}
