/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* PC */
.list_agent::-webkit-scrollbar
{
  display: contents;
}

/* Partie de Gauche - Liste des agents */
.list_agent
{
  float: left;
  display: block;
  margin-left: 5%;
  width: 25%;
  border-radius: 10px;
  background-color: var(--background);
  text-align: center;
  padding-bottom: 2%;
}

.list_agent section, .information_historique section
{
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.information_historique section
{
  max-height: 300px;
}

.list_agent h1
{
  padding-top: 2%;
  padding-bottom: 1%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
}

.list_agent div, .information_historique div
{
  display: grid;
  max-width: 100%;
  grid-template-columns: 25% 75% repeat(2, 1fr);
  vertical-align: middle;
  border-top: 1px solid var(--Text);
  border-bottom: 1px solid var(--Text);
  padding: 1%;
}

.list_agent div:hover, .information_historique div:hover, .list_agent .old:hover
{
  border-top: 2px solid var(--Text);
  border-bottom: 2px solid var(--Text);
  cursor: pointer;
}

.list_agent .old
{
  background-color: var(--oldAgent);
}

.list_agent div img
{
  max-width: 50%;
  height: auto;
  margin-left: 50%;
}

.list_agent div p
{
  font-weight: bold;
  margin: auto 0;
  font-size: 1.25em;
}

/* Partie de droite - Affichage de l'historique */

.information_historique, .information_stats
{
  display: block;
  margin-top: 2.5%;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: var(--background);
  padding-bottom: 0.5%;
}

.information_historique h1, .information_stats h1
{
  padding-top: 2%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
  text-align: center;
}

.date, .vide
{
  text-align: center;
  font-weight: bold;
  color: var(--textAlert);
}

/* Partie de droite - Stats */
.information_stats section
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.information_stats section div
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

strong
{
  color: var(--Text);
  font-size: 1.25em;
  margin-right: 3%;
}

.information_stats p
{
  margin-left: 3%;
  font-weight: bold;
  font-size: 1.2em;
}
