/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* PC */

.ordonnance
{
  display: grid;
  border-top: 1px solid var(--Text);
  padding: 2%;
  grid-template-columns: 50% 50% repeat(2,1fr);
}

.ordonnance .left_part
{
  display: block;
  text-align: center;
}

.ordonnance .left_part label, .ordonnance .left_part select
{
  display: block;
  width: 75%;
  height: auto;
}

.ordonnance .left_part p
{
  color: #000;
  padding-right: 3%;
  text-align: justify;
  text-justify: inter-word;
}

.ordonnance .right_part
{
  display: block;
  text-align: left;
}
