/* PC */
.red
{
  color: #DA0000;
}

.orange
{
  color: #E09E08;
}

.green
{
  color: #00850B;
}

.info_personne
{
  float: left;
  display: block;
  margin-left: 10%;
  width: 25%;
  border-radius: 10px;
  background-color: #EDEFF5;
  text-align: center;
  padding-bottom: 2%;
}

.info_personne img
{
  width: 40%;
  height: auto;
}

.info_personne .description
{
  text-align: center;
  color: #b0b0b0;
  font-style: italic;
  margin-left: 1%;
  margin-right: 1%;
}

.info_personne h1
{
  padding-top: 2%;
  padding-bottom: 1%;
  color: #900000;
  border-bottom: 2px solid #900000;
}

.info_personne p strong
{
  text-align: left;
  color: #900000;
  font-size: 1.25em;
  margin-right: 3%;
}

.info_personne p
{
  text-align: left;
  margin-left: 3%;
  font-weight: bold;
  font-size: 1.2em;
}

.info_personne .lien
{
  margin-top: 5%;
}

.info_personne .lien a, .btn_modif button, .information_casier .lien a, .information_medicament .lien a
{
  border: none;
  border-radius: 10px;
  background-color: #900000;
  color: #EDEFF5;
  padding: 1%;
  font-size: 1.25em;
}

.info_personne .lien a:hover, .btn_modif button:hover, .information_casier .lien a:hover, .information_medicament .lien a:hover
{
  color: #000000;
}

.btn_modif, .information_casier .lien, .information_medicament .lien
{
  margin-top: 2%;
  margin-left: 2%;
}

.habilitation
{
  display: block;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: #EDEFF5;
  text-align: center;
  padding-bottom: 2%;
}

.habilitation h1
{
  padding-top: 2%;
  padding-bottom: 1%;
  color: #900000;
  border-bottom: 2px solid #900000;
}

.habilitation p
{
  font-weight: bold;
  font-size: 1.2em;
}

.habilitation select
{
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
  width: 80%;
  margin-bottom: 2%;
}

.habilitation .grille
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.liste
{
  display: block;
  margin-top: 2.5%;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: #EDEFF5;
  padding-bottom: 0.5%;
}

.liste p strong
{
  text-align: left;
  color: #900000;
  font-size: 1.25em;
  margin-right: 3%;
}

.liste .ferm
{
  margin-left: 90%;
  font-weight: bold;
  font-size: 1.2em;
  background: #900000;
  color: #EDEFF5;
  padding: 1%
}

.liste .ferm:hover
{
  color: #000000;
}

.liste h1
{
  padding-top: 2%;
  color: #900000;
  border-bottom: 2px solid #900000;
  text-align: center;
}

.liste .content
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2%;
  border-bottom: 0.5px solid #900000;
}

.liste .content img
{
  width: 30%;
  height: auto;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 5%;
}

.liste .content p
{
  white-space: nowrap;
  width: 7%;
  height: auto;
  padding-left: 20%;
  padding-top: 5%;
  font-weight: bold;
}

.liste .content a
{
  width: 7%;
  height: auto;
  padding-top: 10%;
  text-decoration: none;
  color: #900000;
  font-weight: bold;
  font-size: 1.5em;
}

.liste .content a:hover
{
  color: #000000;
  font-size: 2em;
  margin-top: -0.25em;
}

.information_casier, .information_medicament
{
  display: block;
  margin-top: 2.5%;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: #EDEFF5;
  padding-bottom: 0.5%;
}

.information_casier h1, .information_medicament h1
{
  padding-top: 2%;
  color: #900000;
  border-bottom: 2px solid #900000;
  text-align: center;
}

.information_casier p strong, .information_medicament p strong
{
  text-align: left;
  color: #900000;
  font-size: 1.25em;
  margin-right: 1%;
}

.information_casier p, .information_medicament p
{
  text-align: left;
  margin-left: 2%;
  font-weight: bold;
  font-size: 1.2em;
}

.information_casier .remarque, .information_medicament .remarque
{
  text-align: justify;
  padding-left: 1%;
  padding-right: 3%;
  font-weight: bold;
  font-size: 1.2em;
}

.information_casier img, .information_medicament img
{
  margin-left: 42.5%;
  width: 15%;
  height: auto;
}

.information_medicament table
{
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
}

.information_medicament td
{
  border: 1px solid black;
}

.information_medicament thead tr
{
  font-weight: bold;
  color: #900000;
}

.information_medicament tbody tr .desc
{
  width: 50%;
  text-align: justify;
  padding: 1% 2% 1% 2%;
}
