/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* PC */
.red
{
  color: var(--nonHabilite);
}

.orange
{
  color: var(--inFormation);
}

.green
{
  color: var(--Habilite);
}

.info_personne
{
  float: left;
  display: block;
  margin-left: 10%;
  width: 25%;
  border-radius: 10px;
  background-color: var(--background);
  text-align: center;
  padding-bottom: 2%;
}

.info_personne img
{
  width: 40%;
  height: auto;
}

.info_personne .description
{
  text-align: center;
  color: var(--profilDescription);
  font-style: italic;
  margin-left: 1%;
  margin-right: 1%;
}

.info_personne h1
{
  padding-top: 2%;
  padding-bottom: 1%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
}

.info_personne p strong
{
  text-align: left;
  color: var(--Text);
  font-size: 1.25em;
  margin-right: 3%;
}

.info_personne p
{
  text-align: left;
  margin-left: 3%;
  font-weight: bold;
  font-size: 1.2em;
}

.info_personne .lien
{
  margin-top: 5%;
}

.info_personne .lien a, .btn_modif button, .information_casier .lien a, .information_medicament .lien a
{
  border: none;
  border-radius: 10px;
  background-color: var(--Text);
  color: var(--background);
  padding: 1%;
  font-size: 1.25em;
}

.info_personne .lien a:hover, .btn_modif button:hover, .information_casier .lien a:hover, .information_medicament .lien a:hover
{
  color: var(--navBarHover);
}

.btn_modif, .information_casier .lien, .information_medicament .lien
{
  margin-top: 2%;
  margin-left: 2%;
}

.habilitation
{
  display: block;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: var(--background);
  text-align: center;
  padding-bottom: 2%;
}

.habilitation h1
{
  padding-top: 2%;
  padding-bottom: 1%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
}

.habilitation p
{
  font-weight: bold;
  font-size: 1.2em;
}

.habilitation select
{
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
  width: 80%;
  margin-bottom: 2%;
}

.habilitation .grille
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.liste
{
  display: block;
  margin-top: 2.5%;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: var(--background);
  padding-bottom: 0.5%;
}

.liste p strong
{
  text-align: left;
  color:  var(--Text);
  font-size: 1.25em;
  margin-right: 3%;
}

.liste .ferm
{
  margin-left: 90%;
  font-weight: bold;
  font-size: 1.2em;
  background: var(--Bouton);
  color: var(--BoutonText);
  padding: 1%
}

.liste .ferm:hover
{
  color: var(--BoutonTextHover);
}

.liste h1
{
  padding-top: 1%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
  text-align: center;
}

.liste .content
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2%;
  border-bottom: 0.5px solid var(--Text);
}

.liste .content img
{
  width: 30%;
  height: auto;
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.liste .content p
{
  white-space: nowrap;
  text-align: center;
  height: auto;
  vertical-align: baseline;
  margin-top: 15%;
  font-weight: bold;
}

.liste .content a
{
  height: auto;
  margin-top: 15%;
  text-align: right;
  margin-right: 30%;
  text-decoration: none;
  color: var(--Text);
  font-weight: bold;
  font-size: 1.5em;
}

.liste .content a:hover
{
  color: var(--BoutonTextHover);
}

.information_casier, .information_medicament
{
  display: block;
  margin-top: 2.5%;
  margin-left: 37%;
  width: 58%;
  border-radius: 10px;
  background-color: var(--background);
  padding-bottom: 1%;
}

.information_casier h1, .information_medicament h1
{
  padding-top: 2%;
  color: var(--Text);
  border-bottom: 2px solid var(--Text);
  text-align: center;
}

.information_casier p strong, .information_medicament p strong
{
  text-align: left;
  color: var(--Text);
  font-size: 1.25em;
  margin-right: 1%;
}

.information_casier p, .information_medicament p
{
  text-align: left;
  margin-left: 2%;
  font-weight: bold;
  font-size: 1.2em;
}

.information_casier .remarque, .information_medicament .remarque
{
  text-align: justify;
  padding-left: 1%;
  padding-right: 3%;
  font-weight: bold;
  font-size: 1.2em;
}

.information_casier img, .information_medicament img
{
  margin-left: 42.5%;
  width: 15%;
  height: auto;
}

.information_medicament table
{
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-size: 1.25em;
}

.information_medicament td
{
  border: 1px solid black;
}

.information_medicament thead tr
{
  font-weight: bold;
  color: var(--navBarText);
  background: var(--navBarBack);
}

.information_medicament tbody tr .desc
{
  width: 50%;
  text-align: justify;
  padding: 1% 2% 1% 2%;
}

.information_medicament tbody tr:nth-child(odd)
{
  background-color: var(--background);
}

.information_medicament tbody tr:nth-child(even)
{
  background-color: var(--profilDescription);
}
