{# Livret de formation Force de l'ordre #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/formation.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/global/nav.css">
{% endblock %}

{% block description %}Page Formation{% endblock %}

{% block key %}Page Formation{% endblock %}

{% block title %} - Formation{% endblock %}

{% block main %}
  {% if index|length > 0 %}
  <nav>
    <p>Navigation :</p>
    {% for item in index %}
    <a href="#{{ item.identifiant }}">{{ item.nom }}</a>
    {% endfor %}
    <a href="#">Revenir en haut</a>
  </nav>
  {% endif %}

  <section class="contenu">
    <h1>Livret de Formation</h1>
    <a style="background-color:transparent;" href="https://wiki.xelyos.fr/books/tutorial-projet-all-in-one" target="_blank">Accéder au tutoriel d'utilisation de l'intranet</a>
  </section>

  {% for rule in content %}
  <section id="{{ rule.identifiant }}" class="contenu">
    {{ rule.fichier|raw }}
  </section>
  {% endfor %}
{% endblock %}

{% block script %}{% endblock %}
