{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}
{# Livret de formation Force de l'ordre #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/formation.css">
<!-- <link rel="stylesheet" type="text/css" href="/assets/styles/global/nav.css"> -->
{% endblock %}

{% block description %}Page Formation{% endblock %}

{% block key %}Page Formation{% endblock %}

{% block title %} - Formation{% endblock %}

{% block main %}
  <!-- <nav>
    <p>Navigation :</p>
    <a href="#1">Introduction</a>
    <a href="#2">Equipement</a>
    <a href="#3">Organisation</a>
    <a href="#4">Patrouille</a>
    <a href="#5">Contrôle</a>
    <a href="#6">Balisage</a>
    <a href="#7">Arrestation</a>
    <a href="#8">Fuite</a>
    <a href="#9">Quariers</a>
    <a href="#10">Braquages</a>
    <a href="#11">Poursuite</a>
    <a href="#12">Les avocats</a>
    <a href="#13">Négociation</a>
    <a href="">Revenir en haut</a>
  </nav> -->

  <section class="contenu">
    <h1>Livret de Formation</h1>

    <h2 id="1">En cours</h2>
    <!-- <h3>I - Introduction au livret</h3> -->
    <p>Le livret de formation est actuellement en cours de construction
    </p>
  </section>
{% endblock %}

{% block script %}{% endblock %}
