<h2>Information Civil</h2>
<p><strong>Nom :</strong> {{ civil.nom|capitalize }}</p>
<p><strong>Prénom :</strong> {{ civil.prenom|capitalize }}</p>
<p><strong>Date de naissance :</strong> {{ civil.DOB|date("d/m/Y") }}</p>
<p><strong>Groupe Sanguin :</strong> {{ civil.grp_sanguin|upper }}</p>
<p><strong>Donneur d'organes :</strong> {% if civil.donneur == 1  %}Oui{% else %}Non{% endif %}</p>
