/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* Phone */
@media (max-width:1001px)
{
  .contenu
  {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .contenu div label
  {
    margin-left: 1.5%;
    font-size: 1.75em;
  }

  .contenu div input, .contenu div select, .contenu div textarea, .contenu .btn button
  {
    font-size: 1.75em;
  }
}
