/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* Phone */
@media (max-width:1001px)
{
  .recherche
  {
    margin-left : 5%;
    width: 90%;
  }

  .recherche input
  {
    font-size: 2em;
  }

  .recherche button
  {
    margin-left: 0%;
    font-size: 1.5em;
  }

  .Resultat, .Resultat1, .Resultat2
  {
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
    padding-bottom: 0.5%;
  }

  .Resultat p, .Resultat1 p, .Resultat2 p
  {
    padding-left: 0%;
    padding-top: 5%;
    font-size: 1.75em;
  }

  .Resultat a, .Resultat1 a, .Resultat2 a
  {
    padding-top: 15%;
    font-size: 1.75em;
  }
}
